{% set section = 'medicine' %}
{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}
    <h1>Medicine list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Name', 'a.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Vendor', 'a.vendor') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Group', 'a.group') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Code', 'a.code') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medicine in pagination %}
            <tr>
                <td><a href="{{ path('medicine_show', { 'id': medicine.id }) }}">{{ medicine.id }}</a></td>
                <td>{{ medicine.name }}</td>
                <td>{{ medicine.vendor }}</td>
                <td>{{ medicine.group }}</td>
                <td>{{ medicine.code }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('medicine_show', { 'id': medicine.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('medicine_edit', { 'id': medicine.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <a class="btn btn-primary" href="{{ path('medicine_new') }}">Create a new entry</a>
{% endblock %}
