{% set section = 'medicine' %}
{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}
    <h1>Medicine</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medicine.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ medicine.name }}</td>
            </tr>
            <tr>
                <th>Vendor</th>
                <td>{{ medicine.vendor }}</td>
            </tr>
            <tr>
                <th>Group</th>
                <td>{{ medicine.group }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ medicine.code }}</td>
            </tr>
        </tbody>
    </table>

            <a class="btn btn-primary" href="{{ path('medicine_index') }}">Back to the list</a>
            <a class="btn btn-primary" href="{{ path('medicine_edit', { 'id': medicine.id }) }}">Edit</a>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
{% endblock %}
