{% set section = 'patient' %}
{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}
    <h1>Patient list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'First Name', 'a.firstName') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Last Name', 'a.lastName') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Birthday', 'a.birthday') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Phone', 'a.telephone') }}</th>
                <th>Avatar</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in pagination %}
            <tr>
                <td><a href="{{ path('patient_show', { 'id': patient.id }) }}">{{ patient.id }}</a></td>
                <td>{{ patient.firstName }}</td>
                <td>{{ patient.lastName }}</td>
                <td>{% if patient.birthday %}{{ patient.birthday|date('Y-m-d') }}{% endif %}</td>
                <td>{{ patient.telephone }}</td>
                <td>
                    {% if patient.avatar %}
                        <img src="/avatars/{{ patient.avatar }}" style="max-width: 50px;">
                    {% else %}
                        none
                    {% endif %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('patient_show', { 'id': patient.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('patient_edit', { 'id': patient.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <a class="btn btn-primary" href="{{ path('patient_new') }}">Create a new entry</a>
{% endblock %}
