{% set section = 'patient' %}
{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}
    <h1>Patient</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ patient.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ patient.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ patient.lastName }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{% if patient.birthday %}{{ patient.birthday|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ patient.telephone }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td><img src="/avatars/{{ patient.avatar }}" style="max-width: 200px;"></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('patient_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('patient_edit', { 'id': patient.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
