{% set section = 'patient' %}
{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}
    <h1>Patient</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ patient.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ patient.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ patient.lastName }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{% if patient.birthday %}{{ patient.birthday|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ patient.telephone }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>
                    {% if patient.avatar %}
                    <img src="/avatars/{{ patient.avatar }}" style="max-width: 200px;">
                    {% else %}
                    none
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Tickets</th>
                <td>
                    <ul>
                        {% for ticket in patient.tickets %}
                            <li>
                                {{ loop.index }}) <a href="{{ path('ticket_show', {'id': ticket.id}) }}">{{ ticket.visitDate|date('y-m-d h:i') }}</a>
                            </li>
                        {% endfor %}
                        <a class="btn btn-primary" href="{{ path('ticket_new') }}?patient_id={{ patient.id }}">Create a new ticket</a>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('patient_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('patient_edit', { 'id': patient.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
