{% set section = 'ticket' %}
{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}
    <h1>Ticket</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ticket.id }}</td>
            </tr>
            <tr>
                <th>Hash</th>
                <td>{{ ticket.hash }}</td>
            </tr>
            <tr>
                <th>Visitdate</th>
                <td>{% if ticket.visitDate %}{{ ticket.visitDate|date('Y-m-d H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Activestatus</th>
                <td>{% if ticket.activeStatus %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Items</th>
                <td>
                    <ul>
                    {% for item in ticket.items %}
                        <li>
                            {{ item.medicine.name }}:
                            Dose: {{ item.dose }}
                            {{ item.countPerDay }} times per day, {{ item.totalDays }} days.
                            Take a drug on the following time:
                            <ul>
                                {% if item.takeTime1.getTimestamp()>-7200 %}
                                    <li>{{ item.takeTime1|date('H:i:s') }}</li>
                                {% endif %}
                                {% if item.takeTime2.getTimestamp()>-7200 %}
                                    <li>{{ item.takeTime2|date('H:i:s') }}</li>
                                {% endif %}
                                {% if item.takeTime3.getTimestamp()>-7200 %}
                                    <li>{{ item.takeTime3|date('H:i:s') }}</li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('ticket_index') }}">Back to the list</a>
    <a class="btn btn-primary" href="{{ path('ticket_edit', { 'id': ticket.id }) }}">Edit</a>
    {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
